{% extends 'base.html' %}
{% block title %}Add Pet{% endblock %}

{% block body %}
<div class="container-fluid">

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Cat Callers Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/owner/{{ owner.owner_id }}">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/owner/{{ owner.owner_id }}/pets">Pets <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/owner/{{ owner.owner_id }}/requests">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/owner/{{ owner.owner_id }}/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-12">

      <div class="mx-auto profilePage border">
        <h1>Add a Pet</h1>
      </div>

      <div class="mx-auto profilePage border">

        <form action="/owner/{{ owner.owner_id }}/pets/add" method="POST">
          <div class="form-group row">
            <label for="inputPetName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" name="name" class="form-control" id="inputPetName">
            </div>
          </div>

          <fieldset class="form-group row">
            <legend class="col-form-label col-sm-2 float-sm-left pt-0">Type</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="species" id="gridRadios1" value="dog">
                <label class="form-check-label" for="gridRadios1">
                  Dog
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="species" id="gridRadios2" value="cat">
                <label class="form-check-label" for="gridRadios2">
                  Cat
                </label>
              </div>
            </div>
          </fieldset>

          <fieldset class="form-group row">
            <legend class="col-form-label col-sm-2 float-sm-left pt-0">Food</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="diet" id="gridRadios1" value="wet">
                <label class="form-check-label" for="gridRadios1">
                  Wet
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="diet" id="gridRadios2" value="dry">
                <label class="form-check-label" for="gridRadios2">
                  Dry
                </label>
              </div>
            </div>
          </fieldset>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Instructions</label>
            <textarea class="form-control" name="instructions" 
            id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}