{% extends 'base.html' %}
{% block title %}Add Pet{% endblock %}

{% block body %}
  <h1>Add a Pet to your Profile</h1>

  <form>
      <label>Name</label><input type="text" name="name">
      <label>Type</label><input type="radio" name="species">
      <label>Dog</label>
      <label>Type</label><input type="radio" name="species">
      <label>Cat</label>
      <label>Type</label><input type="radio" name="species">
      <label>Other</label>
      <input type="text" name="other">
      <label>Food type</label><input type="radio" name="diet">
      <label>Wet</label>
      <input type="radio" name="diet">
      <label>Dry</label>    
      <label>Instructions</label><textarea name="instructions"></textarea>
      <input type="submit">
  </form>
{% endblock %}