{% extends 'base.html' %}
{% block title %}Appointment Details{% endblock %}

{% block body %}
  <h1>Sitting Appointment</h1>

  Owner: {{ transaction.owner.fname }} {{ transaction.owner.lname }}
  <br>
  Owner email: {{ transaction.owner.email }}
  <br>
  Owner address: {{ transaction.owner.address }}
  <br>
  Sitter: {{ transaction.sitter.fname }} {{ transaction.sitter.lname }}
  <br>
  Sitter email: {{ transaction.sitter.email }}
  <br>
  Sitter price: {{ transaction.sitter.payment }} USD
  <br><br>

  {% if transaction.recurring:  %}
    Recurring: {{ transaction.recurring.day }}s @{{ transaction.recurring.time }}
  {% elif transaction.short_term:  %}
    Start: {{ transaction.short_term.start }}
    <br>
    End: {{ transaction.short_term.end }}
    <br>
    Day: {{ transaction.short_term.day }}s
    <br>
    Time: {{ transaction.short_term.time }}
  {% endif %}
  <br>

  
  
{% endblock %}