{% extends 'base.html' %}
{% block title %}Log In{% endblock %}

{% block body %}
  <h2>Log In As Pet Owner</h2>
  <form action="/login/owner" method = "POST">
      <label>Email: </label><input type="text" name="email">
      <br>
      <label>Password: </label><input type="password" name="password">
      <br>
      <input type="submit">
  </form>
  <br>
  <h2>Log In As Pet Sitter</h2>
  <form action="/login/sitter" method = "post">
    <br>
    <label>Email: </label><input type="text" name="email">
    <br>
    <label>Password: </label><input type="password" name="password">
    <br>
    <input type="submit">
</form>
{% endblock %}