{% extends 'base.html' %}
{% block title %}Log In{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-4">
      <div class="text-center">
        <form action="/login/owner" method="POST" class="form-signin">    
          <h1 style="color:white" class="mb-3 h3 font-weight-normal">Owner Log In</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      
          <label for="inputPassword" class="sr-only">Password</label>
       
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <br>
        <form action="/login/sitter" method="POST" class="form-signin">
          <h1 style="color:white" class="mb-3 h3 font-weight-normal">Sitter Log In</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
