{% extends 'base.html' %}
{% block title %}Add Short Term Request{% endblock %}

{% block body %}
  <h1>Add a Short Term Sitting Request</h1>

  <p>Use this form to specify up to three(3) different dates/times per week.
      <br>
      If you need additional pet sitting, just create another request.
  </p>

  <form action="/owner/{{ owner.owner_id }}/requests/add_short_term" method="POST">
      <label>Start Date: </label><input type="date" name="start">
      <br>
      <label>End Date: </label><input type="date" name="end">
      <br>
      <label>Day of Week: </label>
      <select name='day'>
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
      </select>
      <br>
      <label>Time of Day: </label><input type="time" name="time">
      <br>
      <input type="submit">
  </form>
{% endblock %}