{% extends 'base.html' %}
{% block title %}{{ owner.fname }}'s Profile {% endblock %}

{% block body %}
  <h1>Welcome {{ owner.fname }}!</h1>

  <h2>Profile</h2>

  First name: {{ owner.fname }}
  <br>
  Last name: {{ owner.lname }}
  <br>
  Address: {{ owner.address }}
  <br>
  Email: {{ owner.email }}
  <br><br>
  <a href="/owner/{{ owner.owner_id }}/pets">See All Your Pets</a>
  <br><br>
  <a href="/owner/{{ owner.owner_id }}/requests">View All Sitting Requests</a>
  <br><br>
  <a href="/owner/{{ owner.owner_id }}/logout">Logout</a>
{% endblock %}