{% extends 'base.html' %}
{% block title %}Sitting Requests{% endblock %}

{% block body %}
  <h1>Your Sitting Requests</h1>

  <h2>Recurring Requests</h2>
  <ul>
    {% for recurring in recurrings %}
        <li><a href="/owner/{{ owner.owner_id }}/requests/recurring/{{ recurring.recurring_id }}">
        {{ recurring.recurring_id }}</a></li>
    {% endfor %}
  </ul>
  <br>
  <a href="/owner/{{ owner.owner_id }}/requests/add_recurring_form">Add New Recurring Request</a>
  <br>

  <h2>Short Term Requests</h2>
  <ul>
    {% for short_term in short_terms %}
        <li><a href="/owner/{{ owner.owner_id }}/requests/short_term/{{ short_term.short_term_id }}">
        {{ short_term.short_term_id }}</a></li>
    {% endfor %}
  </ul>
  <br>
  <a href="/owner/{{ owner.owner_id }}/requests/add_short_term_form">Add New Short Term Request</a>
{% endblock %}