{% extends 'base.html' %}
{% block title %}Recurring Request{% endblock %}

{% block body %}
<div class="container-fluid">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Cat Callers Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/owner/{{ owner.owner_id }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/owner/{{ owner.owner_id }}/pets">Pets</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/owner/{{ owner.owner_id }}/requests">Schedule <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/owner/{{ owner.owner_id }}/logout">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
  
    <div class="row">
        <div class="col-md-12">

        <div class="mx-auto profilePage border">
            <h1>Recurring Request</h1>
        </div>

        <div class="mx-auto profilePage border">
            <p>
            Day of Week: {{ recurring.day }}
            <br>
            Time of Day: {{ recurring.time }}
            </p>
        </div>

    {% if sitters|length > 0 %}
        <div class="mx-auto profilePage border">
            <h2>Sitters Available</h2>
            <ul>
            {% for sitter in sitters %}
                <li>
                    <a href="/sitter/{{ sitter.sitter_id }}">View {{ sitter.fname }}'s Profile</a>
                    <a class="btn btn-primary" href="/{{ sitter.sitter_id }}/recurring/{{ recurring.recurring_id }}/confirm"role="button">Confirm</a>
                </li>
                <br>
            {% endfor %}
            </ul>
        </div>

    {% else %}
        <div class="mx-auto profilePage border">
            <p>No sitters available</p>
    {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock %}