{% extends 'base.html' %}
{% block title %}Recurring Request{% endblock %}

{% block body %}
<h1>Recurring Request</h1>
    <p>
        Day of Week: {{ recurring.day }}
        <br>
        Time of Day: {{ recurring.time }}
    </p>

<h2>Sitters Available</h2>
<ul>
    {% for sitter in sitters %}
        <li>
            <a href="/sitter/{{ sitter.sitter_id }}">{{ sitter.fname }}</a>
            <a href="/{{ sitter.sitter_id }}/{{ recurring.recurring_id }}/confirm">
            Confirm</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}