{% extends 'base.html' %}
{% block title %}{{ short_term.short_term_id }}{% endblock %}

{% block body %}
<h1>Short Term Request</h1>
    <p>
        Start date: {{ short_term.start }}
        <br>
        End date: {{ short_term.end }}
        <br>
        Day of Week: {{ short_term.day }}
        <br>
        Time of Day: {{ short_term.time }}
    </p>

<h2>Sitters Available</h2>
    <!-- <ul>
        {% for sitter in sitters %}
            <li><a href="">
            {{ sitter.name }}</a></li>
        {% endfor %}
    </ul> -->
{% endblock %}