{% extends 'base.html' %}
{% block title %}{{ sitter.fname }}'s Profile {% endblock %}

{% block body %}
  <h1>Welcome {{ sitter.fname }}!</h1>

  <h2>Profile</h2>

  First name: {{ sitter.fname }}
  <br>
  Last name: {{ sitter.lname }}
  <br>
  Email: {{ sitter.email }}
  <br>
  Password: 
  <br>
  Price (USD): {{ sitter.payment }}
  <br>

  <h2>Confirmed Sitting Appointments</h2>
  <!-- <ul>
    {% for transaction in transactions %}
      <li><a href="">{{ transaction.transaction_id }}</a></li>
    {% end for %}
  </ul> -->

  <h2>Availability</h2>

  <a href="/sitter/{{ sitter.sitter_id }}/schedules">View Schedule</a>
{% endblock %}