{% extends 'base.html' %}
{% block title %}Sitting Schedule{% endblock %}

{% block body %}
  <h1>Your Schedule</h1>

  <h2>Availability</h2>
  <p>Specify which days and times you are available every week. </p>
  <ul>
    {% for availability in availabilities %}
        <li>{{ availability.day_of_week }}s @ {{ availability.time_of_day }}</li>
    {% endfor %}
  </ul>
  <a href="/sitter/{{ sitter.sitter_id }}/schedules/add_avail_form">Add New Availability</a>

  <h2>Blockouts</h2>
  <p>Specify which dates you are unavailable. </p>
  <ul>
    {% for blockout in blockouts %}
        <li>{{ blockout.start }} to {{ blockout.end }}</li>
    {% endfor %}
  </ul>
  <a href="/sitter/{{ sitter.sitter_id }}/schedules/add_blockout_form">Add New Blockout</a>

  <h2>Scheduled Sitting Appointments</h2>
  <ul>
    {% for transaction in transactions %}
      <li>{{ transaction.recurring.day }}s @{{ transaction.recurring.time }}</li>
    {% endfor %}
  </ul>
{% endblock %}